<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forest Buddy's Trinkets</title>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--Starting box image-->
    <div id="start-screen" class="start-box">
        <img src="../Pics/Forest Buddy’s.png">
    </div>


    <!-- Game container -->
    <div id="game-container" class="container">
        <div id="score-timer">
            <div id="score-display">Score: 0</div>
            <div id="timer-display">Time: 20</div>
        </div>
        <br>
        <br>
        <br>
        <!-- Lil guy + bigger guy + speech bubble -->
        <div id="guys">
            <div id="speech-bubble"></div>
            <img id="lil-guy" src="../Pics/AnimationSheet_Character_sololittleguy.png" alt="Little guy">
            <img id="bigger-guy" src="../Pics/nphb9Q.png" alt="Bigger guy">

        </div>

        <!--front layer of trees-->
        <div id="front-layer" src="../Pics/front.png"></div>

        <!--Potion bar-->
        <div id="potion-bar"></div>

        <!-- trinket elements (left side) -->
        <div id="trinket3" class="consumable" data-keys="QWERTYUIOP" data-sprite="../Pics/Items/Scarab0.png"><img
                src="../Pics/Items/Scarab0.png"></div>
        <div id="trinket2" class="consumable" data-keys="ASDFGHJKL" data-sprite="../Pics/Items/Berries2.png"><img
                src="../Pics/Items/Berries2.png"></div>
        <div id="trinket1" class="consumable" data-keys="ZXCVBNM" data-sprite="../Pics/Items/AppleWorm.png"><img
                src="../Pics/Items/AppleWorm.png"></div>
    </div>

    <script src="script.js"></script>
</body>

</html>
